.yaffmapPane {
  visibility: hidden;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  position: absolute;
  top: 20%;
  right: 19px;
  min-height: 40%;
  width: 18%;
  min-width: 180px;
  background: #eee;
  z-index: 2000;
  opacity: 5  
  filter: alpha(opacity=50);
  -moz-opacity: .5;
}

.yaffmapSearch {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  position: absolute;
  #top: 10px;
  right: 20%;
  height: 25px;
  width: 60%;
  background: #eee;
  z-index: 2000;
}

.list
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.item
{
  float: left;
  margin: 0 0.15em;
}

.yaffmapPaneClose {
  background: url("openlayers/theme/default/img/close.gif") no-repeat;
  cursor: pointer;
  width: 17px;
  height: 17px;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 3px;
}

.yaffmapPaneTitle {
  font-size: 110%;
  font-weight: bold;
  padding-top:5px;
  padding-left:10%;
}

.yaffmapPaneContent {
  opacity: 5  
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  font-size: 80%;
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 10px;
  width: 90%;
  word-wrap:break-word;
  overflow: auto;
  height: 90%;
}

.olControlDrawFeaturePathItemActive {
  background:url(gtk-edit.svg) no-repeat;
            background-color:#0e0;
  float:left;
  height:15px;
  margin: 2px;
  padding: 4px;
  width:15px;
}

.olControlNodeItemActive {
  background:url(internet-radio-new.svg) no-repeat;
            background-color:#0e0;
  float:left;
  height:15px;
  margin: 2px;
  padding: 4px;
  width:15px;
          }

          .olControlNodeItemInactive {
            background:url(internet-radio-new.svg) no-repeat;
            float:left;
            height:15px;
            margin: 2px;
            padding: 4px;
            width:15px;
          }

          .olControlDrawFeaturePathItemInactive {
            background:url(gtk-edit.svg) no-repeat;
            float:left;
            height:15px;
            margin: 2px;
            padding: 4px;
            width:15px;
}

.olControlZoomInItemInactive {
  background:url(zoom-in.svg) no-repeat;
  float:left;
  height:20px;
  margin: 2px;
  padding: 4px;
  width:20px;
}
.olControlZoomOutItemInactive {
  background:url(zoom-out.svg) no-repeat;
  float:left;
  height:20px;
  margin: 2px;
  padding: 4px;
  width:20px;
}

#panel {
  height: 25px;
  border: 0px;
}
